* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/*  */
/* navbar */
/*  */
nav {
    padding: 20px;
    position: fixed;
    width: 100%;
    z-index: 999;
    text-decoration: none;
    color: black;
}

nav a {
    display: inline-block;
    line-height: 18px;
}

#home,
#about,
#resume {
    margin-right: 10px;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

#contact {
    float: right;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

/*  */
/* about */
/*  */

#s1 {
    text-align: center;
}

#s1 h1 {
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    font-size: 40px;
}

/*  */
/* Portfolio */
/*  */
#s2 {
    text-align: center;
    font-size: 24px;
    width: 100%;
    /* background: linear-gradient(to right, white, lightgray); */
}

#s2 h1 {
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    font-size: 40px;
}

#work {
    position: absolute;
    left: 0;
    right: 0;
    top: 29%;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #work {
        margin: 0;
        padding: 0;
        left: 0;
        right: 0;
        width: 100%;
        top: 25%;
    }
  }

#s2 p {
    float: left;
    margin-left: 25px;
    width: 50%;
    z-index: 1;
}

 #s2 img {
    position: absolute;
    height: 100vh;
    right: 0;
    bottom: 0 !important;
    z-index: -1;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #s2 p {
        margin: 0;
        padding: 0;
        left: 0;
        right: 0;
        clear: both;
        font-size: 17px;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
  }

@media only screen and (max-width: 768px) {
/* For mobile phones: */
#s2 img {
    height: 70vh;
    width: 100%;
    z-index: -1;
}
}

#more {
    text-decoration: none;
    color: cornflowerblue;
    z-index: 1;
}
/*  */
/* Contact */
/*  */
#s3 {
    text-align: center;
    background-color: white;
    font-size: 25px;
}

#s3 h1{
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    font-size: 40px;
}

#me {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50vh;
}

.fa {
    text-decoration: none;
    color: cornflowerblue;
}

.fa:hover,
#more:hover {
    opacity: 0.5;
}

/*  */
/* footer */
/*  */
footer {
    width: 100%;
    position: absolute;
    color: black;
    text-align: right;
    font-size: 15px;
    bottom: 0;
    padding: 15px;
}

#rights {
    float: left;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #footer {
        text-align: center;
    }
    }