* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html {
    scroll-behavior: smooth;
  }

  body {
      background: white;
  }
  
  /*  */
  /* navbar */
  /*  */
  nav {
    position: fixed;
    z-index: 999;  
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    background: white;
    width: 100%;
  }
  
nav a {
  display: inline-block;
  line-height: 18px;
  color: black;
  text-decoration: none;
}
  
nav a:hover {
  opacity: 0.5;
}

#resume,
#about,
#home {
  padding-right: 20px;
}

#resume {
  text-decoration: underline;
}

#contact {
  float: right;
}

/*  */
/* first text */
/*  */
.container.py-5 {
  margin: 0;
  width: 100%;
  top: 11%;
  padding: 21%;
  text-align: center;
  background-color: violet;
}
.output {
  text-align:center;
  color:white;
}

@media only screen and (max-width: 600px) {
  /* For mobile phones: */
  .container.py-5
  {
      text-align: center;
      width: 100%;
      padding: 0;
      left: 0;
      height: 35vh;
      background-color: cornflowerblue;
  }
  }

/* Cursor Styling */
.cursor::after {
  content:'';
  display:inline-block;
  margin-left: 6px;
  background-color:white;
}

h1.cursor::after {
  height: 80px;
  width: 7px;
}

@media only screen and (max-width: 600px) {
  /* For mobile phones: */
  .cursor
  {
      font-size: 50px;
      margin-top: 20%;
      text-align: center;
  }
  }

@media only screen and (max-width: 600px) {
  /* For mobile phones: */
  h1.cursor::after
  {
      height: 60px;
      width: 5px;
  }
  }

/*  */
/* title */
/*  */
.portfolio {
  top: 95%;
  position: absolute;
}

@media only screen and (max-width: 600px) {
  /* For mobile phones: */
  .portfolio
  {
      width: 100%;
      top: 42.5%;
  }
  }

h1 {
    height: 20vh;
    padding-top: 50px;
    text-align: center;    
    font-size: 90px;
    color: black;
}

@media only screen and (max-width: 600px) {
  /* For mobile phones: */
  .portfolio h1
  {
      font-size: 60px;
      display: none;
  }
  }

.container {
  position: relative;
  margin: 15px;
  margin-left: 10%;
  align-items: center;
  text-align: center;
  float: left;
  margin-top: 5%;
  margin-bottom: 3%;
}

@media only screen and (max-width: 600px) {
  /* For mobile phones: */
  .container
  {
      width: 100%;
      margin: 0;
      margin-left: 0;
      margin-bottom: 6%;
  }
  }
  
.image {
  display: block;
  height: 500px;
  width: 500px; 
}

@media only screen and (max-width: 600px) {
  /* For mobile phones: */
  .image
  {
      width: 100%;
      height: 45vh;
  }
  }
  
.hover {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  height: 500px;
  width: 100%;
  opacity: 0.93;
  transition: .5s ease;
  background-color: black;
}

@media only screen and (max-width: 600px) {
  /* For mobile phones: */
  .hover
  {
      width: 100%;
      height: 45vh;
  }
  }
  
.words {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
  
.web {
  text-decoration: none;
  color: white;
  font-size: 20px;
  z-index: 3;
}
  
.container:hover .hover {
  display: none;
}

/* footer */
#footer {
  position: absolute;
  padding: 15px;
  width: 100%;
  bottom: -3%;
  font-size: 17px;
  text-align: center;
  text-decoration: none;
  color: black;
  }

.fa {
  text-decoration: none;
  color: black;
  float: right;
  margin-right: 1%;
}

#rights {
  float: left;
}

@media only screen and (max-width: 600px) {
  /* For mobile phones: */
  #footer
  {
      width: 100%;
  }
  }

@media only screen and (max-width: 600px) {
  /* For mobile phones: */
  .fa
  {
      margin-right: 5%;
  }
  }

@media only screen and (max-width: 600px) {
  /* For mobile phones: */
  #linked
  {
      margin-right: 8.5%;
  }
  }

@media only screen and (max-width: 600px) {
  /* For mobile phones: */
  #rights
  {
      display: none;
  }
  }